@charset "utf-8";
html{font-size:62.5%}
/* html::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#F5F5F5}
html::-webkit-scrollbar{width:6px;height:6px;background-color:#F5F5F5}
html::-webkit-scrollbar-thumb{background-color:#5791B5}
html::-webkit-scrollbar-thumb:hover{background-color:#70b8ce} */
body{margin:0;font-size:1.5em;line-height:1.6;font-weight:400;font-family:'Microsoft Yahei',Arial,sans-serif;color:#222;overflow-x:hidden;-webkit-text-size-adjust:100%!important;text-size-adjust:100%!important;-moz-text-size-adjust:100%!important}
html,label,select{cursor:url(/static/img/cursor.png),default}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent;text-decoration:none}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:inherit;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
.container{position:relative;width:100%;max-width:960px;margin:0 auto;padding:0 20px;box-sizing:border-box}
.column,.columns{width:100%;float:left;box-sizing:border-box}
#progressbar div{background-image:linear-gradient(45deg,rgba(255,255,255,.14902) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.14902) 50%,rgba(255,255,255,.14902) 75%,transparent 75%,transparent);background-size:40px 40px}
@media (min-width:400px){
	.container{width:85%;padding:0}
}
@media (min-width:550px){
	.container{width:80%}
	.column,.columns{margin-left:4%}
	.column:first-child,.columns:first-child{margin-left:0}
	.one.column,.one.columns{width:4.66666666667%}
	.two.columns{width:13.3333333333%}
	.three.columns{width:22%}
	.four.columns{width:30.6666666667%}
	.five.columns{width:39.3333333333%}
	.six.columns{width:48%}
	.seven.columns{width:56.6666666667%}
	.eight.columns{width:65.3333333333%}
	.nine.columns{width:74%}
	.ten.columns{width:82.6666666667%}
	.eleven.columns{width:91.3333333333%}
	.twelve.columns{width:100%;margin-left:0}
	.one-third.column{width:30.6666666667%}
	.two-thirds.column{width:65.3333333333%}
	.one-half.column{width:48%}
	.offset-by-one.column,.offset-by-one.columns{margin-left:8.66666666667%}
	.offset-by-two.column,.offset-by-two.columns{margin-left:17.3333333333%}
	.offset-by-three.column,.offset-by-three.columns{margin-left:26%}
	.offset-by-four.column,.offset-by-four.columns{margin-left:34.6666666667%}
	.offset-by-five.column,.offset-by-five.columns{margin-left:43.3333333333%}
	.offset-by-six.column,.offset-by-six.columns{margin-left:52%}
	.offset-by-seven.column,.offset-by-seven.columns{margin-left:60.6666666667%}
	.offset-by-eight.column,.offset-by-eight.columns{margin-left:69.3333333333%}
	.offset-by-nine.column,.offset-by-nine.columns{margin-left:78%}
	.offset-by-ten.column,.offset-by-ten.columns{margin-left:86.6666666667%}
	.offset-by-eleven.column,.offset-by-eleven.columns{margin-left:95.3333333333%}
	.offset-by-one-third.column,.offset-by-one-third.columns{margin-left:34.6666666667%}
	.offset-by-two-thirds.column,.offset-by-two-thirds.columns{margin-left:69.3333333333%}
	.offset-by-one-half.column,.offset-by-one-half.columns{margin-left:52%}
}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:18px;font-weight:300}
h1{font-size:23px;line-height:1.2;letter-spacing:-.1rem}
h2{font-size:3.6rem;line-height:1.25;letter-spacing:-.1rem}
h3{font-size:3rem;line-height:1.3;letter-spacing:-.1rem}
h4{font-size:2.4rem;line-height:1.35;letter-spacing:-.08rem}
h5{font-size:1.8rem;line-height:1.5;letter-spacing:-.05rem}
h6{font-size:1.5rem;line-height:1.6;letter-spacing:0}
@media (min-width:550px){
h1{font-size:26px}
h2{font-size:4.2rem}
h3{font-size:3.6rem}
h4{font-size:3rem}
h5{font-size:2.4rem}
h6{font-size:1.5rem}
}
p{margin-top:0}
a{color:#0FA0CE}
a:hover{color:#4979B9}
.button,button,input[type=button],input[type=reset],input[type=submit]{display:inline-block;padding:0 30px;color:#555;text-align:center;line-height:36px;letter-spacing:.1rem;text-decoration:none;white-space:nowrap;background-color:transparent;border-radius:2px;border:1px solid #bbb;cursor:pointer;box-sizing:border-box}
.button:focus,.button:hover,button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover{color:#333;border-color:#888;outline:0}
.button.button-primary,button.button-primary,input[type=button].button-primary,input[type=reset].button-primary,input[type=submit].button-primary{color:#FFF;background-color:#33C3F0;border-color:#33C3F0}
.button.button-primary:focus,.button.button-primary:hover,button.button-primary:focus,button.button-primary:hover,input[type=button].button-primary:focus,input[type=button].button-primary:hover,input[type=reset].button-primary:focus,input[type=reset].button-primary:hover,input[type=submit].button-primary:focus,input[type=submit].button-primary:hover{color:#FFF;background-color:#1EAEDB;border-color:#1EAEDB}
input[type=email],input[type=text],input[name=q],input[type=tel],input[type=url],input[type=password],input[type=number],input[type=search],select,textarea{height:38px;padding:6px 10px;background-color:#fff;border:1px solid #D1D1D1;border-radius:0;box-shadow:none;box-sizing:border-box}
input[type=email],input[type=text],input[name=q],input[type=tel],input[type=url],input[type=password],input[type=number],input[type=search],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{min-height:65px;padding-top:5px;padding-bottom:5px;margin-bottom:15px}
input[type=email]:focus,input[type=text]:focus,input[name=q]:focus,input[type=tel]:focus,input[type=url]:focus,input[type=password]:focus,input[type=number]:focus,input[type=search]:focus,select:focus,textarea:focus{border:1px solid #33C3F0;outline:0}
label,legend{display:block;margin-bottom:.5rem;font-weight:600}
fieldset{padding:0;border-width:0}
input[type=checkbox],input[type=radio]{display:inline}
label>.label-body{display:inline-block;margin-left:.5rem;font-weight:400}
/*ul{list-style:circle inside}
ol{list-style:decimal inside}*/
ul.dot li:before{content:'◇';padding-right:8px}
ul.dot2 li:before{content:'•';color:inherit;padding-right:8px}
ol,ul{list-style:none;padding-left:0;margin-top:0}
ol ol,ol ul,ul ol,ul ul{margin:1.5rem 0 1.5rem 3rem;font-size:90%}
li{margin-bottom:12px}
code{padding:.2rem .5rem;margin:0 .2rem;font-size:14px;white-space:nowrap;background:#F1F1F1;border:1px solid #E1E1E1;border-radius:4px}
pre>code{display:block;padding:1rem 1.2rem;white-space:pre;word-break:break-all}
td,th{padding:12px 14px;text-align:left;border-bottom:1px solid #E1E1E1}
td:first-child,th:first-child{padding-left:5px}
td:last-child,th:last-child{padding-right:0}
.button,button{margin-bottom:1rem}
.button[disabled],button[disabled]{background-color:#e2e6e9!important;border-color:#E1E1E1!important}
fieldset,input,select{margin-bottom:1.5rem}
blockquote,dl,figure,form,ol,p,pre{margin-bottom:2.5rem}
.u-full-width{width:100%;box-sizing:border-box}
.u-max-full-width{max-width:100%;box-sizing:border-box}
.u-pull-right{float:right}
.u-pull-left{float:left}
hr{margin:2px 0 8px 0;border-width:0;border-top:1px solid #E1E1E1}
.container:after,.row:after,.u-cf{content:"";display:table;clear:both}
/* gotop */
.cd-top{z-index:9;display:inline-block;height:40px;width:40px;position:fixed;bottom:55px;right:15px;box-shadow:0 0 10px rgba(0,0,0,.05);overflow:hidden;text-indent:100%;white-space:nowrap;background:rgba(232,98,86,.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;visibility:hidden;opacity:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
.cd-top.cd-is-visible{visibility:visible;opacity:1}
.cd-top.cd-fade-out{opacity:.5}
.no-touch .cd-top:hover{background-color:#e86256;opacity:1}
@media only screen and (min-width: 768px) {
	.cd-top{right: 20px;bottom:50px}
}
@media only screen and (min-width: 1024px) {
	.cd-top{height:60px;width:60px;right:30px;bottom:50px}
}
/* main */
img.cover{display:none;width:0;height:0}
.blank{display:block;width:100%;height:10px}
.header{position:fixed;width:100%;height:50px;background:#5791B5;color:#fff;letter-spacing:1px;z-index:9999;overflow:hidden;box-shadow:0 2px 4px rgba(0,0,0,.2)}
.header .logo{float:left;font-weight:100;font-size:20px;line-height:50px;padding:0 15px}
.header a{color:#fff!important;outline:0}
.menu{float:right;max-width:70.9%;white-space:nowrap;overflow-x:scroll}
.menu li{font-size:16px;list-style:none;line-height:50px;height:100%;display:inline-block}
.menu li a{display:inline-block;height:100%;padding:0 15px;transition:background .2s ease-out,color .2s ease-out}
.menu li a.on,.menu li a:hover{background:#7DA7C2;color:#ff0!important}
#user{text-align:center;width:56px}
#user img{width:36px;height:36px;border-radius:36px;vertical-align:middle;margin:-4px 10px 0 10px;cursor:pointer;transition:all .35s ease-in-out}
#user img.hover{opacity:1;transform:rotate(45deg);-webkit-transform: rotate(45deg)}
.submenu{display:none;width:120px;background:#5791b5;position:fixed;top:50px;right:0;z-index:99;text-align:center;opacity:.9;cursor:pointer}
.submenu li{margin:0}
.submenu li:hover{background:#7DA7C2;color:#ff0!important}
.submenu li a{display:inline-block;color:#fff;line-height:40px;width:120px;height:40px;letter-spacing:1px}
.bdSug_wpr{line-height:normal;position:absolute;z-index:9;background:#fff;padding:0;margin:0;border-width:1px;border-style:solid;border-image:initial;border-color:#CCC!important}
.bdSug_wpr table{width:100%}
.bdSug_wpr tr:last-child td{border:0}
.bdSug_wpr td{padding:4px 10px!important;font-family:'Microsoft Yahei' !important}
.hint{color:#31708f;background:url(/static/img/talk.png) #d9edf7 no-repeat right;padding:8px 12px;margin-bottom:10px;border-radius:2px}
.footer{width:100%;padding:12px 0;line-height:20px;bottom:0;text-align:center;font-size:12px;background:#FAF5F5;color:#555;z-index:2}
.footer img{vertical-align:text-top;opacity:0.7;transition:opacity 0.25s ease-in-out}
.footer img:hover{vertical-align:sub;opacity:1}
.subhead{margin:20px 0 15px;font-size:19px;font-weight:300;color:#888}
h3.subhead{margin:10px 0;border-bottom:1px dashed #BBB;padding-bottom:5px;font-size:18px}
a.anime,#comic a{display:inline-block;margin:0 8px 10px 0;padding:10px 15px;border:1px solid #CCC;border-radius:2px}
a.anime:hover,#comic a:hover{background:#FAF8F8}
.legend{width:100%;padding:2px 0;margin-bottom:6px;font-size:16px;color:#333;border-bottom:1px solid #e5e5e5;font-weight:bold}
table.u-full-width tbody tr{transition:background .15s ease-out}
table.u-full-width tbody tr:hover{background:#FAF8F8}
/* index */
.sbox{position:absolute;top:19%;width:100%;z-index:9;background:#fff}
.sbox form{width:80%;max-width:678px;margin:0 auto;text-align:center}
.sbox input{width:100%}
.sbox button{font-size:15px}
#tag{margin:40px 0 20px 0;text-align:left;width:100%}
#tag h5{font-size:15px;font-weight:700;padding:5px 0;margin-bottom:0}
a.tag{font-size:14px;padding:0 4px;color:#fff;border-radius:2px;display:inline-block;margin:0 6px 6px 0}
/* search */
.search{width:100%;height:78px;background:#f1f1f1;overflow:hidden}
.search{line-height:78px}
.search img{position:absolute;margin:16px 0 0 6px;width:143px;height:45px}
.search .so{margin-left:158px;width:54%;max-width:600px}
.search button{width:130px;margin-left:16px;font-size:15px}
.result,.show{width:98%;padding:1%;max-width:900px}
.show table td:nth-child(2){word-break:break-all}
.pages{margin-top:20px}
.tishi{width:262px;background:#F1F1F1;border:1px solid #E1E1E1;border-radius:4px;padding:6px 10px;float:left;margin:20px 15px;position:relative}
.tishi p{margin:0;font-size:13px;margin-top:2px;word-break:break-all}
.tishi ul{margin:2px 0 8px}
.tishi li{margin:0;list-style:none;font-size:14px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.tishi li a.ss{color:#333333}
.tishi .clear{display:inline-block;float:right;font-size:14px;margin-top:2px}
.tishi .clear a{color:gray}
ul#lishi{margin-bottom:0}
ul#lishi li{list-style:inherit;list-style:decimal inside}
.qsearch{margin:10px 0 0}
.qsearch:after,.qsearch:before{content:"";display:table}
.qsearch:after{clear:both}
.qsearch input{width:220px;height:40px;float:left;background:#f9f9f9;border-radius:3px 0 0 3px;padding-right:13px;margin-bottom:8px}
.qsearch input:focus{border-color:#BBB}
.qsearch button,.qsearch button:before{transition:all .2s ease-out}
.qsearch button{overflow:visible;position:relative;float:right;border:0;padding:0;cursor:pointer;height:40px;width:42px;color:#fff;background:#1eaedb;border-radius:0 3px 3px 0}
.qsearch button:hover{background:#5791b5}
.qsearch button:before{content:'';position:absolute;border-width:8px 8px 8px 0;border-style:solid solid solid none;border-color:transparent #1eaedb transparent;top:12px;left:-6px}
.qsearch button:hover:before{border-right-color:#5791b5}
/* show */
#dinfo{display:none;width:350px}
#dinfo p:first-child{text-align:center;line-height:25px;margin:5px 0 10px;font-size:16px}
textarea#mlink{height:78px}

/* modal */
.modal{display:none;width:400px;background:#fff;padding:8px 12px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;border-radius:2px}
.modal a.close-modal{position:absolute;top:-12px;right:-12px;display:block;width:25px;height:25px;text-indent:-9999px;background:url(../img/close.png) left no-repeat;background-size:24px}
.modal-spinner{display:none;width:64px;height:64px;position:fixed;top:15%;left:50%;margin-right:-32px;background:url(../static/img/loader_dark.gif) #111 no-repeat center center;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;border-radius:2px}

@media(max-width:720px){
	h1{font-size:28px!important}
	.hint{background:#d9edf7}
	.sbox{top:16%}
	.header .logo{display:none}
	#mini{display:inline!important}
	.result	table th:nth-child(3){display:none}
	.result	table td:nth-child(3){display:none}
	.result	table th:nth-child(4){min-width:78px!important}
	#anime span{display:none}
	td a{word-break:break-all!important}
	.show{width:96%;padding:2%}
	.ds-replybox .ds-avatar img{display:none!important}
	.ds-replybox{padding:0!important}
	.menu li a{padding: 0 16px}
	.header .ext{display:inline-block!important}
	.bdSug_wpr td{padding:9px 10px!important;font-size:16px !important}
}
@media(max-width:918px){
	#slogo{display:none}
	.search{text-align:center}
	.search .so{margin:0}
	.pages{text-align:center}
	.tishi{display:none}
	.header .ext{display:none}
}
@media(min-width:1680px){
	body{zoom:110%}
}

/* CSS动画效果 */
.button-primary,.button,a{transition:color .2s ease-out,background .2s ease-out,border .2s ease-out}
button,input,textarea{transition:border .2s ease-out}
.bdsharebuttonbox a{transition:initial}